<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.ParkingBoyMapper">

     <!-- 具体怎么写一对多的关系不会写-->

    <select id="selectAll" resultType="tws.entity.ParkingBoy">
        select * from `parking_boy`;
    </select>

    <insert id="insert">
       insert into `parking_boy` (`parkingBoyID`,`parkingBoyName`,`parkingBoyAge`)
       values(#{parkingBoy.parkingBoyID},#{parkingBoy.parkingBoyName},#{parkingBoy.parkingBoyAge});
    </insert>

    <select id="selectAllEmployees" >
        select parking_boy.parkingBoyID,parkingBoyName,parkingBoyAge,parkingLotID,capatity,availablePositionCount
        from parking_boy,parking_lot where
        parking_boy.parkingBoyID= parking_lot.parkingBoyID;
    </select>

</mapper>